<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <script src="https://kit.fontawesome.com/4ecdab393c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="shortcut icon" href="../static/img/logo.jpg" type="image/x-icon">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <img src="../static/img/logo.jpg" alt="logo">
            <h3>Listit Real-Estate</h3>
            <div class="links">
                <a href="../templates/home.html">Home</a>
                <a href="../templates/services.html">services</a>
                <a href="../templates/about-us.html">About Us</a>
                <a href="../templates/contact.html">contact</a>
                <a href="../templates/register.html">Sign-up</a>
                <a href="../templates/login.html">Sign-in</a>
            </div>
        </nav>
    </div>
    <div class="mainImage">
        <img src="../static/img/webaliser-_TPTXZd9mOo-unsplash.jpg" alt="">
    </div>
    <div class="container2">
        <div class="search">
            <input type="text">
            <a href="Search">Search</a>
        </div>
        <div class="houses">
            <div class="bungalow">
                <img src="../static/img/joshua-coleman-Mbn9oZkQ3ow-unsplash.jpg" alt="Bungalows" style="width:100%">
                <div class="text">
                    <p>we have varieties of Bungalows here in Plateau up for sale and Lease. </p>
                <a href="Bungalows">See Others</a>
                </div>
            </div>
            <div class="duplex">
                <img src="../static/img/pixasquare-4ojhpgKpS68-unsplash.jpg" alt="Duplex" style="width:100%" >
               <div class="text">
                <p>we have varieties of Duplex here in Plateau up for sale and Lease. </p>
                <a href="Duplex">See Others</a>
               </div>
            </div>
            <div class="condos">
               <div class="text">
                <img src="../static/img/micah-carlson-qN-T-pY17Vc-unsplash.jpg" alt="Condominions" style="width:100%">
                <p>we have varieties of condominions here in Plateau up for sale and Lease. </p>
                <a href="condos">See Others</a>
               </div>
            </div>
        </div>
     <!-- footer -->
    <div class="down">
        <footer class="footer">
            <div class="col-1">
                <h3> USEFUL LINKS</h3>
                <a href="../templates/about-us.html">About Us</a>
                <a href="../templates/Properties.html">Propert ies</a>
                <a href="../templates/services.html">Services</a>
                <a href="../templates/contact.html">Contact Us</a>
                <a href="../templates/home.html">Home</a>
                
                
            </div>
            <div class="col-2">
                <h3>NEWSLETTER</h3>
                <form action="" method="post">
                    <input type="email" placeholder="your email address">
                    <br>
                    <button type="submit"> SUBCRIBE NOW</button>
                </form>
            </div>
            <div class="col-3"> 
                <h3>CONTACT</h3>
                <img src="../static/img/icon-location.svg" alt="">
                <P> Shop 4, plaza 2, Domkat Bali Road <br>Jos Plateau state.</P>
                <br>
                <img src="../static/img/icon-phone.svg" alt="">
                <p>+234 568 268 0762</p>
                <br>
                <img src="../static/img/icon-email.svg" alt="">
                <p>lisit2022@gmail.com</p>
                <br>
                <br>
                <div class="socialicons">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-snapchat"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </footer>

    </div>

</body>
</html>